<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
    <sly data-sly-call="${clientlib.js @ categories='nexterahome.leadercaptureform'}" />  
<div class="hero-bg" style="margin: 20px 0;">
    <div class="triangle-wrapp">
   <img src="/content/dam/nexterahome/homeimages/triangles.svg">
  </div>
  <h1>${properties.titleh1}</h1>
  <h4>${properties.titlel}</h4>
</div>
<div class="enroll-now">
<section class="contact-wrapl"> 
                    <form class="material-formm clearfix">
                        <div class="enrollText" data-sly-test="${properties.formHeading}">${properties.formHeading}</div>
                        <!-- ROW 1 -->
                        <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block floating-field" data-sly-test="First Name">
                            <label>First Name</label>
                            <input required="" id="firstName" value="" type="text" maxlength="30" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="input-block floating-field" data-sly-test="Last Name">
                            <label>Last Name</label>
                            <input required="" id="lastName" value="" type="text" maxlength="30" class="form-control">
                            </div>
                        </div>
                        </div>

                    <!-- ROW 2 -->
                        <div class="row">
                       <div class="col-sm-12 col-md-6">
                            <div class="input-block floating-field" data-sly-test="ZIP Code">
                            <label>ZIP Code</label>
                            <input required="" id="form1Zipcode" value="" type="text" maxlength="30" class="form-control">
                            </div>
                        </div>
                          <div class="col-sm-12 col-md-6">
                            <div class="input-block floating-field" data-sly-test="Email">
                            <label>Email</label>
                            <input required="" id="email" value="" type="email" maxlength="30" class="form-control">
                            </div>
                        </div>
                        </div>

                       <div class="row checkbox-groupg">
                        <div class="col-md-12">
                        <label data-sly-test="${properties.legalAgreementCopy}" class="control control-checkbox" id="legalAgreementCopy">${properties.legalAgreementCopy}

                                <input required="" type="checkbox"  id="myCheck"  name="checkbox" value="check">
                                <div class="control-indicator"></div>	
                        </label></div>
                    </div>




                        	<button type="button" id="submit" onclick="check()" style="margin-left: 250px; margin-top: 30px;" class="btn btn-primary float-right">
                            	Submit
                        	</button>



                    </form>
                    </section>
                    </div>