<div class="heroBkrd" style="background-image: url('/content/dam/nexterahome/homeimages/heroBkrdTopRight.svg');">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
<div class="heading">${properties.title}</div>
<div class="subHeading center">${properties.subtitle}</div>
</div>
</div>      
<div class="row">
<div class="col-md-12 col-lg-12">
<!-- START HOW IT WORKS -->
<div class="container whiteBkrd">
<div class="row">
<div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="howitWorksText">${properties.serviceDescription @ context='html'}
<div class="planDetails">${properties.plandetails}</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
<div class="responsiveRow">&nbsp;</div>
</div>
</div>
<div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="advantageBkrd">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
</div>
</div>
</div>
</div>