<div class="heroBkrd" style="background-image: url('/content/dam/nexterahome/homeimages/heroBkrdTopRight.svg'); background-repeat: no-repeat !important; background-position: top right;">
<div class="container">  
      <div class="row">    
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="heading">${properties.headerlabel}</div>
            <div class="subHeading center">${properties.description}</div>
        </div>
      </div>


<!-- FAQ SECTION -->

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="faq-wrap" data-sly-use.nexterafaqs="${resource.path}/faqAns"> 
		<div id="accordion" data-sly-list.faqwithans="${nexterafaqs.listChildren}">
      	<div class="question">
          <div class="title-wrap clearfix">
              <h6 class="accordion-toggle">${faqwithans.faqTitle}</h6>
              <div class="accordion-icon"><img class="open-icon" src="/content/dam/nexterahome/homeimages/e-add.svg"><img class="close-icon" src="/content/dam/nexterahome/homeimages/e-delete.svg"></div>
          </div>
          <div class="accordion-content">
            <p>${faqwithans.faqAnswer @ context='html'}</p>
          </div>

        </div>
		</div>
      </div>
    </div>
    
  </div>
</div>

<!-- END FAQ SECTION -->
</div>

<div class="advantageBkrd">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 center">
            <a href="${properties.faqurl}"><button class="btn btn-secondary">
              ${properties.faqcta}
            </button></a>
          </div>
      </div>

      </div>
    </div>
  </div>
</div>