<!-- START HEADER -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-8 col-xl-8"></div>
    <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 d-none d-sm-none d-md-none d-lg-block">
      <div class="header fr">
          <div class="connect">Connect With Us</div>
          <div class="socialContainer">
           <a href="#" target="_blank" class="fab brandColor inlineBlock mr15">
                       800-315-7452 
                    </a>
            <a href="${properties.fburl}" target="_blank">
              <i class="fab fa-facebook-f brandColor inlineBlock mr15"></i>
            </a>
            <a href="${properties.instaurl}" target="_blank">
              <i class="fab fa-instagram brandColor inlineBlock mr15"></i>
            </a>
            <a href="${properties.twitterurl}" target="_blank">
              <i class="fab fa-twitter brandColor inlineBlock"></i>
            </a>
            
          </div>
      </div>  
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-none d-sm-none d-md-none d-lg-block">
        <div class="horizLine"></div>
      </div>
  </div>
</div>
<!-- END HEADER -->
<script>
  function targetPageParams() {
    return {
      "at_property": "07ab0123-5edc-0e69-9d8f-33c151e80513"
    };
  }
</script>
