 <!--START ZIP CODE GATE MODAL-->
<div class="modal" id="zipcodeGate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Service Plans</div>
          <button id="closeid" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formzipcodeGate">
          <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                      <p class="bodyZipCode">Enter your ZIP code so we can find plans in your area</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                      <input class="inputZipCode" id="zipCode" placeholder="Enter Zip Code"/>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <a href="" data-target="">
                        <button type="submit" id="formzipcodesubmit" class="btn btn-secondary w100">Find Plans</button>
                      </a>
                  </div>
                </div>
              </div>
              
          </div>
         
      </form>
      </div>
    </div>
  </div>
<!--END ZIP CODE GATE MODAL-->