<!-- START FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="footerLogos">
            <a data-sly-test="${properties.nextEraLogoCta}" href="${properties.nextEraLogoCta}" class="opacity">
              <img data-sly-test="${properties.nextEraLogo}" src="${properties.nextEraLogo}">
          </a>
              <a data-sly-test="${properties.fplLogoCta}" href="${properties.fplLogoCta}" target="_blank" class="opacity">
              <img data-sly-test="${properties.fplLogo}" src="${properties.fplLogo}" class="fplLogo">
          </a>
          </div>
      </div>
      <div class="d-none d-sm-none d-md-none d-lg-block col-lg-7">
        <div class="footerLinkContainer">
	<div data-sly-use.topLinks="${resource.path}/topLinks">
        <div data-sly-list="${topLinks.listChildren}">
            <a href="${item.pathbr}" target="${item.openInNewTab=='yes'? '_blank':''}" class="footerLink">${item.linkTitle}</a>
        </div>
	</div>

          </div> 
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
          <div class="socialIcons">

                <a data-sly-test="${properties.fburl}" href="${properties.fburl}" target="_blank">
                  <i class="fab fa-facebook-f white mr15"></i>
                </a>
                <a data-sly-test="${properties.instaurl}" href="${properties.instaurl}" target="_blank">
                  <i class="fab fa-instagram white mr15"></i>
                </a>
                <a data-sly-test="${properties.twitterurl}" href="${properties.twitterurl}" target="_blank">
                  <i class="fab fa-twitter white"></i>
                </a>

          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-sm-block d-md-block d-lg-block">
          <div class="horizLine mt25"></div>
        </div>
    </div>
    <div class="row">
      <div class="order-1 order-sm-1 order-md-1 order-lg-0 col-sm-12 col-md-12 col-lg-6">
          <div  class="footerText">${properties.copyRight @context='html'}</div> 
      </div>
      <div class="order-0 order-sm-0 order-md-0 order-lg-1 col-sm-12 col-md-12 col-lg-6">
        <div data-sly-test="${logic.size == 'true'}" class="footerLinks" data-sly-use.logic="${'nexterahome.core.models.ServiceproviderCheck' @ child='bottomLinks'}">  
			<div data-sly-use.topLinks="${resource.path}/bottomLinks">
        		<div data-sly-list="${topLinks.listChildren}">
            		<a href="${item.pathbr}" class="footerLink2">${item.linkTitle}</a>
        		</div>
			</div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End FOOTER -->